.sidebar-list {
  margin-left:3px;
  margin-right:3px;
  background:none;
}

.sidebar-row {
  background: none;
}

.sidebar-row:selected {
  background-color: alpha( grey, 0.1);
}

.sidebar-row:hover {
  background-color: alpha( grey, 0.2);
}

.sidebar-row > * {
  background-color: @bg-color;
}


.sidebar-row {
  padding:12px;
  margin: 6px;
  /*border: 1px solid black;*/
  border-radius:6px;
}
